<html layout:decorator="fragment/layout-labor"> 
	<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
	<div layout:fragment="content">
		<div id="defaulthtml" style="display: block;">	
		
			<div style="border: 1px solid lightgray;">
				<table class="" border="0">
					<tr>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><p class="label label-info" style="font-size: 20px;">Configuration</p></td>
					</tr>
					<tr>
						<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
					</tr>
					<tr>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><p class="label label-info" style="font-size: 20px;">Dictionary</p></td>
					</tr>
					<tr>
						<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
					</tr>
					<tr>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><p class="label label-info" style="font-size: 20px;">Rich Text</p></td>
					</tr>
				</table>
			</div>

					
			<h3><ul><li>Thanks to:  </li></ul></h3>		
					<h4><li><a href="https://www.apache.org/">apache.org</a> </li></ul></h4>
					<h4><li><a href="https://spring.io/">spring.io</a>  </li></ul></h4>
					<h4><li><a href="https://ckeditor.com">ckeditor.com</a>  </li></ul></h4>
					<h4><li><a href="https://getbootstrap.com/">bootstrap</a>  </li></ul></h4>
					<h4><li><a href="https://cn.vuejs.org/">Vue.js</a>  </li></ul></h4>
					<h4><li><a href="https://github.com/hankcs/HanLP">HanLP</a>  </li></ul></h4>
		</div>
		<p id="datahtml"/>
	</div>


</html>

<script type="text/javascript">


var myEditor;
$(document).ready(function(){
	
});

</script>
